* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.login_ {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(background.jpg);
  background-size: cover;
}

.nav_bar {
  width: 40%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  border-radius: 50%;
  width: 150px;
  max-width: 100%;
  cursor: pointer;
}

.shop_name {
  font-family: Chiller;
  font-size: 80px; /* Responsive font size */
  color: blanchedalmond;
}
.login-box {
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.info {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}
.login-box h2 {
  float: left;
  font-size: 20px;
  border-bottom: 1px solid;
  margin-top: 25px;
  padding: 13px;
  width: 100%;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: antiquewhite;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

.sherbimi {
  color: antiquewhite;
  font-size: 18px;
  width: 100%;
  float: left;
  margin: 20px 0px;
}
.btn-container {
  display: flex;
}

.btn1,
.btn2 {
  flex: 1;
  box-sizing: border-box;
  background: none;
  border: 2px solid;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
}

.btn2 {
  margin-right: 0;
}
@media screen and (max-width: 480px) {
  .nav_bar {
    flex-direction: column;
    text-align: center;
  }

  .logo {
    width: 82%;
  }

  .shop_name {
    padding: 5px;
    font-size: 23px;
  }
  .login-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}
